<!DOCTYPE html>
<html>
  <head>
    <title>File list</title>
  </head>
  <body>
  	<h1>Upload de arquivo</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <label>
            Selecione o Arquivo
            <input type="file" name="file">
        </label>
        <br>
        <input type="submit" value="Enviar">
    </form>
	<br>
    <p>
      Files
    </p>
    <table>
      <tr>
        <td>File</td>
        <td>Size</td>
    	</tr>
      {{ range . }}
        <tr>
		<td>
			{{if .IsDir}}
				<a href="{{ .Name }}/">{{ .Name }}/</a>
			{{ else }}
				<a href="{{ .Name }}">{{ .Name }}</a>
			{{ end }}
		</td>
          <td>{{ .Size }}</td>
        </tr>
      {{ end }} 
    </table>
  </body>
</html>